/* Nav */
.nav-wrapper {
  padding: 0 1vw;
}

.nav-wrapper .row {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  z-index: 5;
  height: 50px;
  text-align: left;
}

#title {
  flex: 11;
  height: 100%;
  font-size: 2rem;
  cursor: pointer;
}

#menu-content {
  display: flex;
  overflow: hidden;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
} 

#menu-content > li{
  flex: 1;
}

#menu-btn {
  flex: 1;
  height: 100%;
  background: black;
  color: white;
  border: none;
  text-align: center;
}

#menu-content a:hover, #menu-content a.active,
#mobile-nav a:hover, #mobile-nav a.active {
  background: lightgrey;
  color: black;
}

#mobile-nav:hover {
  background: inherit !important;
}

#mobile-nav {
  position: absolute;
  top: -300px;
  padding: 15px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: black;
  transition: top 250ms linear;
}

#mobile-nav a {
  display: block;
  text-align: center;
}

#mobile-nav.open {
  top: 50px;
}

@media only screen and (min-width: 601px) {
  .nav-wrapper {
    padding: 0 5vw;
  }
}

/* Sidebar */
#sidebar-container {
  z-index: 2;
  position: fixed;
  left: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  overflow: hidden;
  text-align: center;
  transition: 500ms;
 }

#sidebar {
  width: 80vw;
  margin: -15px 0 0 -15px;
  height: 100vh;
  background: rgb(0, 0, 0);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

#me {
  margin: 10vh 0 0 0;
}

#me > img {
  height: 30vh; 
  width: 30vh; 
  max-width: 175px;
  max-height: 175px;
  margin: 5vh auto;
  border-radius: 50%;
  border: 2px solid lightgoldenrodyellow;
}

#me > h1 {
  width: 100%;
  margin: 15px 0;
  font-size: 2rem;
  font-weight: bold;
}

#me > h5, #me span {
  width: 100%;
  padding: 0 15px;
  text-align: center;
}

#sidebar-container.menu-displayed {
  left: 0;
}

.contact-info {
  display: flex;
  width: 50%;
  padding: 0 0 0 30px;
  margin: 45px auto 0 auto;
  justify-content: space-around;
  list-style: none;
}

.contact-info a {
  color: white;
  display: block;
  height: 30px;
  width: 30px;
  font-size: 1.5rem;
  margin: 10px;
  line-height: 1.3em;
  text-align: center;
  border-radius: 50%;
  transition: 500ms ease-out;
}

.contact-info a:hover {
  text-decoration: none;
  background: #fff;
  transform: rotate(360deg);
}

.contact-info a span {
  font-size: 0px;
}

.fa-github {
  background: #211f1f ;
}

.fa-github:hover, 
.fa-github:focus {
  color: #211f1f;
}

.fa-linkedin {
  background: #007bb5;
}

.fa-linkedin:hover, 
.fa-linkedin:focus {
  color: #007bb5;
}

.fa-envelope-square {
  background: #dd4b39;
}

.fa-envelope-square:hover,
.fa-envelope-square:focus {
  color: #dd4b39;
}

.fa-facebook {
  background: #3B5998;
}

.fa-facebook:hover,
.fa-facebook:focus {
  color: #3B5998;
}

@media screen and (orientation: landscape) {
  #me > img {
    margin-bottom: 0;
  }
  #me > h5, #me span {
    padding: 0 15px 0 15px;
  }
  .contact-info {
    margin: 0;
  }
}

@media only screen and (min-width: 601px) {
  #sidebar-container {
    left: 0;
    padding: 0;
    width: 25%;
  }
  #title {
    width: 70%;
    cursor: pointer;
  }
  #sidebar {
    width: 100%;
    margin: -15px 0 0 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #me > img {
    margin: 5vh auto 0 auto;
  }
  #me > h5, #me span {
    padding: 5vh 15px 0 15px;
  }
  .contact-info {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    bottom: 50px;
  }
}     

/* Main Content */
#main-content {
  font-size: 0.8rem;
  overflow-y: scroll; 
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: -moz-scrollbars-none; 
  -ms-overflow-style: none; 
  height: calc(100vh);  
}

.page-title {
  width: 100%;
  padding-left: 30px;
  border-bottom: 2px solid wheat;
  margin: 75px 0 30px 50px;
}

.page-content {
  margin: 0 30px;
}

.page-title h3 {
  font-size: 1.75rem;
  margin: 0;
}

#project-details h4 {
  font-size: 1.5rem;
}

@media only screen and (min-width: 601px) {
  .page-title h3 {
    font-size: 2.75rem;
  }
}
::-webkit-scrollbar {
  display: none;
}

/* Specialization */
.specialization, .course {
  cursor: pointer;
  width: 100%;
}

.specialization .title, .course .title {
  width: 100%;
  border-bottom: 1px solid white;
}

.course-list.show {
  border-radius: 0 !important;
  transform-origin: 25px 25px;
  animation: showup 500ms ease-in-out forwards;
}

.course-list.hideit {
  transform-origin: 25px 25px;
  animation: hide 500ms ease-in-out forwards; 
}

@keyframes showup {
  0% {opacity: 0; transform: skew(90deg, 90deg);}
  100% {opacity: 1; transform: skew(0deg, 0deg);}
}

@keyframes hide {
  0% {opacity: 1; transform: skew(0deg, 0deg);}
  100% {opacity: 0; transform: skew(45deg, 45deg);}
}

/* CV */
dt {
  font-weight: bold;
}

#download-btn-container {
  position: relative;
}

#download-btn-container a {
  font-size: 1.5rem;
  position: absolute;
  margin-top: 100px; 
  text-decoration: none;
  bottom: 50px;
  right: 10px;
}

/* Admin */
.admin-navi {
  background: yellowgreen;
  color: white;
  margin: 0 -14px;
  text-align: center;
  text-decoration: none;
  transition: 250ms;
}

.admin-navi:hover, .admin-navi:focus, .admin-navi.active {
  background: lightblue;
  color: black;
  text-decoration: none;
}

.btn-outline-primary:hover {
  background: inherit;
}

.link-unstyled:hover {
  text-decoration: none;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

#alert {
  border-radius: 500px ;
  font-size: 1rem;
  border: red solid 1px;
  margin: 0 0 25px 0;
  padding: 20px;
}

.close:hover {
  background: gray !important;
  color: black;
}

.input-field > label, .input-field > input, .input-field > textarea {
  color: white;
}

/* CV */
.cv-icon {
  padding-right: 15px;
}

