/* Main Content */
#main-content {
  font-size: 0.8rem;
  overflow-y: scroll; 
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: -moz-scrollbars-none; 
  -ms-overflow-style: none; 
  height: calc(100vh);  
}

.page-title {
  width: 100%;
  padding-left: 30px;
  border-bottom: 2px solid wheat;
  margin: 75px 0 30px 50px;
}

.page-content {
  margin: 0 30px;
}

.page-title h3 {
  font-size: 1.75rem;
  margin: 0;
}

#project-details h4 {
  font-size: 1.5rem;
}

@media only screen and (min-width: 601px) {
  .page-title h3 {
    font-size: 2.75rem;
  }
}
::-webkit-scrollbar {
  display: none;
}

/* Specialization */
.specialization, .course {
  cursor: pointer;
  width: 100%;
}

.specialization .title, .course .title {
  width: 100%;
  border-bottom: 1px solid white;
}

.course-list.show {
  border-radius: 0 !important;
  transform-origin: 25px 25px;
  animation: showup 500ms ease-in-out forwards;
}

.course-list.hideit {
  transform-origin: 25px 25px;
  animation: hide 500ms ease-in-out forwards; 
}

@keyframes showup {
  0% {opacity: 0; transform: skew(90deg, 90deg);}
  100% {opacity: 1; transform: skew(0deg, 0deg);}
}

@keyframes hide {
  0% {opacity: 1; transform: skew(0deg, 0deg);}
  100% {opacity: 0; transform: skew(45deg, 45deg);}
}

/* Admin */
.admin-navi {
  background: yellowgreen;
  color: white;
  margin: 0 -14px;
  text-align: center;
  text-decoration: none;
  transition: 250ms;
}

.admin-navi:hover, .admin-navi:focus, .admin-navi.active {
  background: lightblue;
  color: black;
  text-decoration: none;
}

.btn-outline-primary:hover {
  background: inherit;
}

.link-unstyled:hover {
  text-decoration: none;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

#alert {
  border-radius: 500px ;
  font-size: 1rem;
  border: red solid 1px;
  margin: 0 0 25px 0;
  padding: 20px;
}

.close:hover {
  background: gray !important;
  color: black;
}

.input-field > label, .input-field > input, .input-field > textarea {
  color: white;
}